
.welcome {
    text-align: right;
    font-family: "american typewriter";
    color:rgb(103, 94, 73);
    margin: 0;
    padding:0;
    border: 0;
}

.myface {
    border-radius: 50px;
    height: 300px;
    width: 200px;
}

body {
    background-image: url("books.png");
    font-size: 30px;
    color: black;
    text-align: right;
    font-family: "american typewriter";
}

.footerstyle {
    text-align: center;
    color:maroon;
    font-size: 27px;
    font-family: "american typewriter", papyrus;
}

.infoboxes{
  font-size: 22px;
  margin-left: 1300px;
  text-align: justify;
  color: antiquewhite;
  padding: 5px;
  width: 500px;
  height: 140px;
  background: rgb(85, 53, 11);
}

h3 {
    text-decoration-line: underline;
    margin-bottom: 0px;
}

p {
    margin-left: 650px;
    text-align: left;
}